{% extends "tcsite/index.html" %}
{%  block content %}

    {% with top_img=game.promo_image.url title=game.name slogan=game.slogan %}
        {% include "tcsite/top_img.html" %}
	{% endwith %}

		<!-- PORTFOLIO SINGLE -->
		<section class="module">
			<div class="container-fluid container-custom">

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">

						<!-- PORTFOLIO CONTENT -->
						<article class="portfolio-post post">

							<h4>{{ game.top_title }}</h4>
							<blockquote><p>{{ game.top_description_italic }}</p></blockquote>

							<p>{{ game.top_description }}</p>

							{% if game.video_id %}<iframe src="//player.vimeo.com/video/{{ game.video_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>{% endif %}

							<h4>{{ game.midlle_title }}</h4>
							<p>{{ game.middle_description }}</p>

                            <div class="owl-carousel slider">

								{% for screenshot in screenshots %}
                                <div class="item">
									<img src="{{ screenshot.screenshot_image.url }}" alt="">
								</div>
                                {% endfor %}
							</div>

							<h4>{{ game.bottom_title }}</h4>
							<p>{{ game.bottom_description }}</p>

							<h6>{{ game.client }}</h6>

						</article>
						<!-- /PORTFOLIO CONTENT -->

						<!-- TAGS -->
						<div class="tags font-serif">
                            {% for t in tags %}
							<a href="#">{{ t }}</a>
                            {% endfor %}
						</div>
						<!-- /TAGS -->

					</div><!-- .col-* -->

				</div>

			</div>
		</section>
		<!-- PORTFOLIO SINGLE -->

		<!-- RELATED WORKS -->
		<section class="module bg-gray">

			<div class="container-fluid container-custom">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Related Works</h2>
						<p class="module-subtitle">A collection of textile samples lay spread out on the table вЂ“ Samsa was a travelling salesman вЂ“ and above it there hung a picture that he had recently cut.</p>
					</div>
				</div>
				<!-- /MODULE TITLE -->

			</div>

			<div class="container-fluid">

				<!-- WORKS GRID -->
				<div class="works-grid-wrapper">

					<div id="works-grid" class="works-grid works-grid-gutter work-grid-3">

						<!-- PORTFOLIO ITEM -->
						<article class="work-item travel video">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-1.jpg" alt="">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Montures</h3>
									<span class="work-category font-serif"><a href="#">Travel, Video</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item music">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-2.jpg" alt="">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Pink Lips</h3>
									<span class="work-category font-serif"><a href="#">Music</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item travel">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-6.jpg" alt="">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">The Handkerchief</h3>
									<span class="work-category font-serif"><a href="#">Travel</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

					</div>
				</div>
				<!-- /WORKS GRID -->

			</div>

		</section>


{% include "tcsite/footer.html" %}

{% endblock %}