{% extends "tcsite/index.html" %}

{%  block content %}

    <section id="portfolio" class="module-sm">
			<div class="container-fluid">

				<!-- FILTERS -->
				<div class="row">
					<div class="col-sm-12">
						<ul id="filters" class="filters font-alt">
							<li><a href="#" class="current" data-filter="*">All</a></li>
							<li><a href="#" data-filter=".fashion">Fashion</a></li>
							<li><a href="#" data-filter=".travel">Travel</a></li>
							<li><a href="#" data-filter=".music">Music</a></li>
							<li><a href="#" data-filter=".video">Video</a></li>
						</ul>
					</div>
				</div>
				<!-- /FILTERS -->

				<div class="works-grid-wrapper">

					<!-- Portfolio 4 col + gutter -->



					<div id="works-grid" class="works-grid works-grid-gutter">

						{% for el in images %}

						<article class="work-item travel video">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="{{ el.url }}" alt="">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">{{ el.name }}</h3>
									<span class="work-category font-serif"><a href="{{ el.name }}">{{ el.slogan }}</a></span>
								</div>
								<a href="{{ el.name }}" class="work-link"></a>
							</div>
						</article>


                        {% endfor %}


					</div>
                </div><!-- works-grid-wrapper -->

				<!-- SHOW MORE -->
				<div class="row">
					<div class="col-sm-12">

						<div class="m-t-70 text-center">
							<button id="show-more" class="btn btn-dark show-more">More works</button>
						</div>

					</div>
				</div>
				<!-- /SHOW MORE -->

			</div>
		</section>
    {% include "tcsite/footer.html" %}

{% endblock %}