{% extends "tcsite/index.html" %}

{%  block a3 %}
    <li class="currentPage">салон</li>
{%  endblock %}

{%  block content %}


        {% with bg_url=about.top_image.url title=about.title slogan=about.slogan %}
            {% include "tcsite/top_img_full.html" %}
	    {% endwith %}

		<!-- SERVICES -->
		<section class="module">
			<div class="container-fluid container-custom">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Наши услуги</h2>
						<p class="module-subtitle">A collection of textile samples lay spread out on the table – Samsa was a travelling salesman – and above it there hung a picture that he had recently cut.</p>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">
					<div class="col-sm-12">
						<div class="text-center m-b-60">
							<img src="assets/images/notebooks.jpg" alt="">
						</div>
					</div>
				</div>

				<div class="row multi-columns-row">

					<!-- ICONBOX -->
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox">
							<div class="iconbox-icon">
								<span class="icon-strategy"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Premium Plugins</h4>
							</div>
							<div class="iconbox-content">
								<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
							</div>
						</div>
					</div>
					<!-- /ICONBOX -->

					<!-- ICONBOX -->
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox">
							<div class="iconbox-icon">
								<span class="icon-layers"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Modular Layout</h4>
							</div>
							<div class="iconbox-content">
								<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
							</div>
						</div>
					</div>
					<!-- /ICONBOX -->

                    <!-- ICONBOX -->
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox">
							<div class="iconbox-icon">
								<span class="icon-layers"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Modular Layout</h4>
							</div>
							<div class="iconbox-content">
								<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
							</div>
						</div>
					</div>
					<!-- /ICONBOX -->

				</div>

			</div>
		</section>
		<!-- /SERVICES -->

		<!-- COUNTERS -->
		<section class="module bg-dark-30" data-background="{{ about.middle_bg.url }}">
			<div class="container-fluid container-custom">

				<div class="row">

					<!-- COUNTER -->
					<div class="col-md-3">
						<div class="counter text-light">
							<div class="counter-icon">
								<span class="icon-trophy"></span>
							</div>
							<div class="counter-header">
								<h4 class="counter-title">
									<span class="counter-timer" data-from="0" data-to="124">0</span>
								</h4>
							</div>
							<div class="counter-content">
								<h6>Awards Won</h6>
							</div>
						</div>
					</div>
					<!-- /COUNTER -->

					<!-- COUNTER -->
					<div class="col-md-3">
						<div class="counter text-light">
							<div class="counter-icon">
								<span class="icon-tools"></span>
							</div>
							<div class="counter-header">
								<h4 class="counter-title">
									<span class="counter-timer" data-from="0" data-to="4221">0</span>
								</h4>
							</div>
							<div class="counter-content">
								<h6>Lines of Code</h6>
							</div>
						</div>
					</div>
					<!-- /COUNTER -->

					<!-- COUNTER -->
					<div class="col-md-3">
						<div class="counter text-light">
							<div class="counter-icon">
								<span class="icon-mobile"></span>
							</div>
							<div class="counter-header">
								<h4 class="counter-title">
									<span class="counter-timer" data-from="0" data-to="15">0AAAAaaaaaaaaa111</span>
								</h4>
							</div>
							<div class="counter-content">
								<h6>Themes Done</h6>
							</div>
						</div>
					</div>
					<!-- /COUNTER -->

					<!-- COUNTER -->
					<div class="col-md-3">
						<div class="counter text-light">
							<div class="counter-icon">
								<span class="icon-pictures"></span>
							</div>
							<div class="counter-header">
								<h4 class="counter-title">
									<span class="counter-timer" data-from="0" data-to="249">0</span>
								</h4>
							</div>
							<div class="counter-content">
								<h6>Photos Made</h6>
							</div>
						</div>
					</div>
					<!-- /COUNTER -->

				</div>

			</div>
		</section>
		<!-- /COUNTERS -->

		<!-- TEAM -->
		<section class="module">
			<div class="container-fluid container-custom">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">наш коллектив</h2>
						<p class="module-subtitle">A collection of textile samples lay spread out on the table – Samsa was a travelling salesman – and above it there hung a picture that he had recently cut.</p>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

                    {% for member in members %}

                    <div class="col-sm-3">
						<div class="team-item m-b-sm-40">
							<img src="{{ member.image.url }}" alt="Martin Friman">
							<div class="team-inner">
								<h4 class="team-name font-alt">{{ member.name }}</h4>
								<span class="team-role font-serif">{{ member.position }}</span>
							</div>
						</div>
					</div>

                    {% endfor %}


				</div><!-- .row -->



			</div>
		</section>
		<!-- /TEAM -->

		<hr class="divider">

		<!-- TESTIMONIALS -->
		<section class="module">
			<div class="container-fluid container-custom">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">клиенты о нас</h2>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">

						<!-- TESTIMONIALS CAROUSEL -->
						<div class="owl-carousel slider-reviews">

							{% for r in reviews %}
							<blockquote class="testimonial font-serif">
								{{ r.speech }}
								<cite class="font-alt">
									<img src="{{ r.avatar.url }}" alt="">
									{{ r.name }}
								</cite>
							</blockquote>
							{% endfor %}

						</div>
						<!-- /TESTIMONIALS CAROUSEL -->

					</div>

				</div>

			</div>
		</section>
		<!-- /TESTIMONIALS -->

		<!-- CLIENTS -->
		<section class="module-sm bg-gray">
			<div class="container-fluid container-custom">

				<div class="row">

					<!-- Owl-carousel start -->
					<div class="slider-clients owl-carousel text-center">

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-1.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-2.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-3.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-4.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-5.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-6.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-7.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-8.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/logos/logo-9.png" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

					</div>
					<!-- Owl-carousel end -->

				</div>

			</div>
		</section>

		{% include "tcsite/footer.html" %}

{% endblock %}
