{% extends "tcsite/index.html" %}

{%  block a4 %}<li class="currentPage">контакты</li>{%  endblock %}

{%  block content %}
<section class="module-map">
    <div id="map" data-address="{{ contact.map_adress }}"></div>
</section>

<!-- CONTACT -->
		<section class="module">
			<div class="container-fluid container-custom">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">поговорим?</h2>
						<p class="module-subtitle">
                            Спрашивайте. Предлагайте. Критикуйте. Мы всегда открыты для общения и обязательно ответим вам!
                        </p>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

					<div class="col-sm-8">

						<form action="send/"  method="post" id="contact-form" role="form" novalidate>
                            {% csrf_token %}
							<div class="form-group">
								<label class="sr-only" for="cname">Name</label>
								<input type="text" id="name" class="form-control" name="cname" placeholder="Name*" required="" data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<label class="sr-only" for="cemail">Your Email</label>
								<input type="email" id="email" name="cemail" class="form-control" placeholder="Your E-mail*" required="" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<textarea class="form-control" id="message" name="cmessage" rows="7" placeholder="Message*" required="" data-validation-required-message="Please enter your message."></textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-block btn-round btn-dark">Submit</button>
							</div>
						</form>

						<!-- Ajax response -->
						<div id="contact-response" class="ajax-response font-alt"></div>

					</div><!-- .col-* -->

					<div class="col-sm-4">

						<div class="iconbox iconbox-left m-t-0 m-t-sm-40">
							<div class="iconbox-icon">
								<span class="icon-megaphone"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Say Hello</h4>
							</div>
							<div class="iconbox-content">
								<p>Email: {{ contact.email }}<br>Phone: {{ contact.phone }}</p>
							</div>
						</div>

						<div class="iconbox iconbox-left">
							<div class="iconbox-icon">
								<span class="icon-map"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Where to meet</h4>
							</div>
							<div class="iconbox-content">
								<p>{{ contact.adress | safe }}</p>
							</div>
						</div>

					</div><!-- .col-* -->

				</div>

			</div>
		</section>
		<!-- /CONTACT -->

    <div id="sendResult">

        <h6 id="sendMessage">succesfull</h6>

    </div>
    {% include "tcsite/footer.html" %}
{% endblock %}

{% block addJs %}
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAa4FXfzaE5qIDdhRt9hauUan0OEUN5Epk"></script>
{% endblock %}