{% extends "tcsite/index.html" %}

{%  block content %}

    {% with top_img=game_top_img %}
        {% include "tcsite/top_img.html" %}
	{% endwith %}

    <section id="portfolio" class="module-sm">
			<div class="container-fluid">

				<div class="row">
					<div class="col-sm-12">
						<ul id="filters" class="filters font-alt">
							<li><a href="#" {% if not ctag %}class="current"{% endif %} data-filter="*">All</a></li>
                            {% for tag in tags %}
                                <li><a href="#"
                                       {% if ctag == tag %}class="current"{% endif %}
                                       data-filter=".{{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
						</ul>
					</div>
				</div>
				<!-- /FILTERS -->

				<div class="works-grid-wrapper">

					<!-- Portfolio 4 col + gutter -->



					<div id="works-grid" class="works-grid works-grid-gutter">

						{% for obj in previews %}

						<article class="work-item {% for tag in obj.tags %}{{ tag }} {% endfor %}">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="{{ obj.url }}" alt="">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">{{ obj.name }}</h3>
									<span class="work-category font-serif"><a href="{{ obj.name }}">{{ obj.slogan }}</a></span>
								</div>
								<a href="{{ obj.name }}" class="work-link"></a>
							</div>
						</article>


                        {% endfor %}


					</div>
                </div><!-- works-grid-wrapper -->

				<!-- SHOW MORE -->
				<div class="row">
					<div class="col-sm-12">

						<div class="m-t-70 text-center">
							<button id="show-more" class="btn btn-dark show-more">More works</button>
						</div>

					</div>
				</div>
				<!-- /SHOW MORE -->

			</div>
		</section>
    {% include "tcsite/footer.html" %}

{% endblock %}