{% extends "tcsite/index.html" %}

{% if post.meta_title %}{% block title %}{{ post.meta_title }}{% endblock %}{% endif %}
{% if post.meta_keywords %}{% block keywords %}{{ post.meta_keywords }}{% endblock %}{% endif %}
{% if post.meta_description %}{% block description %}{{ post.meta_description }}{% endblock %}{% endif %}

{%  block a2 %}<a class="dropdown-toggle defaultcursor currentPage" data-toggle="dropdown">блог</a>{% endblock %}

{%  block content %}

    {% with top_img=post.top_image.url title=post.title slogan=post.slogan %}
        {% include "tcsite/top_img.html" %}
	{% endwith %}

		<!-- POST -->
		<section class="module">
			<div class="container-fluid container-custom">

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">
						<!-- POST CONTENT -->
						<article class="post">

                            {% for block in top %}
                                {% if block.text %}<p>{{ block.text|safe }}</p>{% endif %}
                                {% if block.video %}
                                    <iframe width="420" height="284" src="http://www.youtube.com/embed/{{ block.video }}" frameborder="0" allowfullscreen></iframe>
                                    <br>
                                {% endif %}
                                {% if block.image %}<p><img src="{{ block.image.url }}" alt=""></p>{% endif %}
                            {% endfor %}


							<div class="owl-carousel slider">

                                {% for img in carousel %}

                                <div class="item">
									<img src="{{ img.image.url }}" alt="">
								</div>

                                {% endfor %}

                            </div>

                            {% for block in bottom %}
                                {% if block.text %}<p>{{ block.text|safe }}</p>{% endif %}
                                {% if block.video %}
                                    <iframe width="420" height="284" src="http://www.youtube.com/embed/{{ block.video }}" frameborder="0" allowfullscreen></iframe>
                                    <br>
                                {% endif %}
                                {% if block.image %}<p><img src="{{ block.image.url }}" alt=""></p>{% endif %}
                            {% endfor %}

						</article>
						<!-- /POST CONTENT -->

						<!-- TAGS -->
						<div class="tags font-serif">

                            {% for tag in post_tags %}

							<a href="../?cname=1&tag={{ tag }}">{{ tag }}</a>

                            {% endfor %}

						</div>
						<!-- /TAGS -->

					</div><!-- .col-* -->

				</div><!-- .row -->

			</div>
		</section>
		<!-- /POST -->

		<!-- POST NAVIGATION -->
		<section class="module p-0" data-background="{{ next_bg }}">
			<a href="../{{ next_id }}" class="post-navigation">
				<h6 class="post-nav-subtitle">Следующий пост</h6>
				<h2 class="post-nav-title">{{ next }}</h2>
                <p class="hero-subtitle font-serif">{{ next_slogan }}</p >
			</a>
		</section>
		<!-- /POST NAVIGATION -->

		<!-- COMMENTS MODULE -->
    {% load cache %}
    {% cache 0 comments %}
        {% load disqus_tags %}
        <div style="margin: 0 auto; padding: 70px; max-width: 910px">{% disqus_show_comments %}</div>
    {% endcache %}

    {% include "tcsite/footer.html" %}
{% endblock %}


