{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>tabletcrushers game design studio</title>

	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<link href="{% static 'styles.min.css' %}" rel="stylesheet">
</head>
<body>

	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>

	<div class="sidebar">

		<nav class="navbar navbar-custom font-alt">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="../home.html">

					<img class="light-logo" src="{% static 'images/logo.png' %}" width="132" alt="">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">

				<ul class="nav navbar-nav">

					{%  block a0 %}
                    <li><a href="/">главная</a></li>
                    {%  endblock %}

                     <li class="dropdown">
						{%  block a1 %}<a class="dropdown-toggle defaultcursor" data-toggle="dropdown">работы</a>{%  endblock %}
						<ul class="dropdown-menu" role="menu">
                            <li><a href="/games">все работы</a></li>
                            {% for tag in tags %}
							<li><a href="/games?tag={{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
						</ul>
					</li>


					<li class="dropdown">
						{%  block a2 %}<a class="dropdown-toggle defaultcursor" data-toggle="dropdown">блог</a>{% endblock %}
						<ul class="dropdown-menu" role="menu">
							<li><a href="/blog?cname=1">все посты</a></li>
							{% for tag in blog_tags %}
							<li><a href="/blog?cname=1&tag={{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
						</ul>
					</li>


                    {%  block a3 %}
                    <li><a href="/about">салон</a></li>
                    {%  endblock %}

					{%  block a4 %}
                        <li><a href="/contacts">контакты</a></li>
                    {%  endblock %}

				</ul>
			</div>

		</nav>

		<div class="copyright">
			<div class="social-icons m-b-20">
				<a href="#" target="_blank" class="fa fa-facebook facebook"></a>
				<a href="#" target="_blank" class="fa fa-twitter twitter"></a>
				<a href="#" target="_blank" class="fa fa-instagram instagram"></a>
				<a href="#" target="_blank" class="fa fa-behance behance"></a>
				<a href="#" target="_blank" class="fa fa-dribbble dribbble"></a>
			</div>

			<p>&copy; 2016 tabletcrushers</p>
		</div>
    </div>

    <div class="wrapper">
        {%  block content %}{% endblock %}
    </div>

    <script> static_url = "{% static '' %}"</script>
    <script src="{% static 'scripts.min.js' %}"></script>
    {% block addJs %}{% endblock %}

</body>
</html>