<section id="hero" class="module-hero bg-dark-30 js-fullheight" data-background="assets/images/module-4.jpg">

    <div class="hero-caption">
        <div class="hero-text">
            {% if video_obj.title %}<h1 class="m-b-30">{{ video_obj.title }}</h1>{% endif %}
            {% if video_obj.slogan %}<h6 class="m-b-60">{{ video_obj.slogan }}</h6>{% endif %}
            {% if video_obj.button %}<a href="{{ video_obj.href }}" class="btn btn-dark anim-scroll">{{ video_obj.button }}</a>{% endif %}
        </div>
    </div>

    <div class="video-player" data-property="{ videoURL: 'https://www.youtube.com/watch?v={{ video_obj.video_id }}', containment: '#hero', quality: 'large', startAt: 0, autoPlay: true,loop: true, opacity: 1, showControls: false, showYTLogo: false, vol: 0, mute: true }">
    </div>

</section>